/* .empresa h3{
    margin-top: 25px;
    margin-bottom: 15px;
   
    margin-left: 20px;
}

.empresa p{
  margin-left: 20px;
}

.valores{
  margin-top: 10px;
  
  margin-left: 20px;
}


.vision h3{
  margin-top: 10px;
  margin-left: 20px;

}

.vision p{
  margin-left: 20px;
}

.confian{
  margin-top: 30px;
  margin-left: 20px;
}

.carousel-item img{
  height: 350px;
  width: 30vh;
  padding: 30px;
  } */



  .empresa-container {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
  }
  
  .empresa {
    margin-bottom: 20px;
  }

  .empresa p  { 
     background-color: #4bb65b;
     padding: 50px;
    color: white;
    border-radius: 60px;
}
  
  .accordion-button {
    background-color: #ffffff;
    color: rgb(27, 164, 38);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button:hover {
    background-color: #2eb440;
  }
  
  .accordion-body {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
  }
  

  .vision p{
    background-color: #4bb65b;
     padding: 50px;
    color: white;
    border-radius: 60px;

  }